<div class="container">
  <div class="container-fluid">

    <div style="margin-top: 3%;">
      <div class="d-flex" style="justify-content: space-between; ">
        <div *ngFor="let tab of tabItems; let i = index" class="opacity pointer" (click)="toggleActiveClass(i)"
          [ngClass]="{'active': selectedTabIndex === i}">
          <div>
            <strong>{{tab.name}}</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 col-sm-3 line-cicle">
        </div>
        <div class="col-12 col-md-3 col-sm-3 line-one-cicle"
          [ngClass]="{'line-one-cicle-dark': selectedTabIndex === 1 || selectedTabIndex === 2 || selectedTabIndex === 3}">
        </div>
        <div class="col-12 col-md-3 col-sm-3 line-one-cicle"
          [ngClass]="{'line-one-cicle-dark': selectedTabIndex === 2 || selectedTabIndex === 3 }">
        </div>
        <div class="col-12 col-md-3 col-sm-3 line-one-cicle"
          [ngClass]="{'line-one-cicle-dark': selectedTabIndex === 3}">
        </div>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 0">
      Tab 01
      <div class="col-12 col-md-12 col-sm-12">
        <button class="btn btn-lg custom-btn-black float-right" (click)="moveToNextSlide(1)">
          Next
        </button>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 1">
      Tab 02
      <div class="row" style="margin-top: 8% !important;">
        <div class="col-12 col-md-12 col-sm-12">
          <button class="btn btn-lg custom-btn-black float-right " (click)="moveToNextSlide(2)">
            Next
          </button>
          <button class="btn btn-lg custom-btn-no-bg float-right mr-3" (click)="moveToNextSlide(0)">
            Back
          </button>

        </div>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 2">
      Tab 03

      <div class="row" style="margin-top: 5% !important;">
        <div class="col-12 col-md-12 col-sm-12">
          <button class="btn btn-lg custom-btn-black float-right " (click)="moveToNextSlide(3)">
            Next
          </button>
          <button class="btn btn-lg custom-btn-no-bg float-right mr-3" (click)="moveToNextSlide(1)">
            Back
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 3">
      Tab 04
      <div class="row" style="margin-top: 5% !important;">
        <div class="col-12 col-md-12 col-sm-12">
          <button class="btn btn-lg custom-btn-black float-right ">
            Finish
          </button>
          <button class="btn btn-lg custom-btn-no-bg float-right mr-3" (click)="moveToNextSlide(2)">
            Back
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
<router-outlet></router-outlet>